<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SmartPhoneStoreOnline</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UpdatePhoneController</display-name>
    <servlet-name>UpdatePhoneController</servlet-name>
    <servlet-class>com.example.nhom11.controller.admin.UpdatePhoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePhoneController</servlet-name>
    <url-pattern>/UpdatePhoneController</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error500.jsp</location>
  </error-page>
</web-app>